
html {
    font-size: 14px;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    font-size: 1rem;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.75;
    color: #333;
    background: #fff;
  }
  
  html,
  body {
    height: 100%;
    color: #333;
  }
  body {
    font-size: 1rem;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.75;
    color: #333;
    background: #fff;
    font-weight: 400;
   
  }
  

  img {
    max-width: 100%;
  }
  

.resumecontainer { 
    /* main container */
    overflow-x: hidden;
  }
  .o-container {
      /* header container */
    max-width: 1276px;
    margin: 0 auto;
  }
  .o-section__container {
      /* header name */
    z-index: 2;
    position: relative;
    display: flex;
  }
  .o-section__header {
    width: 30%;
    text-align: right;
  }
  .o-section__content {
    width: 70%;
  }
  .o-section__header {
    padding: 1.25rem 1.25rem 0rem;
  }
  
  .o-section__content {
    padding: 1.25rem 1.25rem 0rem;
  }
  .c-header__header,
  .c-header__content {
      /* header positioning */
    height: 95vh;
  }
  .o-grid {
    display: flex;
    flex-flow: row wrap;
    margin-right: -3.5rem;
    position: relative;
  }
  .o-grid__col-md-3 {
  
            flex: 0 0 auto;
    width: calc(120% * 0.25);
  }
  .o-grid__col-sm-6 {
            flex: 0 0 auto;
    width: calc(99.999999% * 0.5);
  }
  
  .c-header__inner-header,
    .c-header__inner-content {
        /* align content  */
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .c-header__top,
    .c-header__brand,
    .c-header__contact-divider {
        margin-bottom: 1.75rem;
}

.c-header__brand,
.c-header__avatar,
.c-header__contact {
  text-align: center;
}
.c-avatar__img {
    border-radius: 50%;
    width: 11rem;
  }

    .c-header__avatar,
    .c-header__top {
        /* contact links */
      top: -2vh;
      position: relative;
    }
    .c-header__brand {
        /* contact links */
        text-align: left;
        margin-bottom: 0;
      }
     
     .t-title {
        /* title size */
      font-size: 4.3rem;
      line-height: 0.91;
    }  
    .t-title__first-word {
        text-transform: uppercase;;
        font-weight: 300;
        font-size: 70px;
        color: #a4a5a6;
      }
      .c-brand__first-word,
      .c-brand__second-word {
      display: block;
    }
      
      .t-title__second-word {
        text-transform: uppercase;
        font-weight: 900;
        color: #e0a80d;
      }
      
      .t-sub-title {
        font-weight: 300;
        font-size: 1.5rem;
        margin-left: .3rem;
        color: #979899;
      }
     
  
    
      
      a,
      .t-link-container .t-link-container__item,
      .t-link-container:hover .t-link-container__item--blended {
        color: #e0a80d;
      }
      
           
      .c-header__contact-divider {
          /* line inbetween title / contact */
        margin-bottom: 1.75rem;
      }
      .o-grid {
          /* grid for experiance */
        display: flex;
        flex-flow: row wrap;
        margin-right: -3.5rem;
        position: relative;
      }
      @media (min-width: 1024px) {
        /* experiance*/
        .t-section__header {
          background: #f2f3f3;
        }
        .t-section__content {
          background: #fbffff;
          box-shadow: 0 0 0 0px #fbffff;
        }
        
      }
      .o-section__header {
          /* experiance */
        align-content: center;
        padding: 1.25rem 1.25rem 0rem;
      }
      .o-content {
        padding-bottom: 1.25rem;
      }
      .o-grid__col-sm-6 {
          /* experiance colums */
                flex: 0 0 auto;
        width: calc(99.999999% * 0.5);
      }
      .o-media {
        display: flex;
        align-items: flex-start;
      }
      .o-media__body {
        margin-bottom: 0;
      }
      .o-content__body {
        margin-bottom: 0;
      }
       /* Horizontal Rulers */
  hr,
  .t-border-color {
    border-color: #404242;
  }
  